@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@if (Model.MyUser != null)
{
    <div class="text-center"><h1 class="display-4">Välkommen @Model.MyUser.NickName</h1> <br /></div>

    <div class="container">
        <div class="row">
            <div class="col-2">
                <div class="btn-group-vertical">
                    @foreach (var category in Model.Categories)
                    {
                        <div class="btn-group dropright">
                            <button type="button" class="btn btn-secondary btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @category.CategoryName
                            </button>
                            <div class="dropdown-menu">
                                @foreach (var subCat in Model.SubCategories)
                                {
                                    @if (category.Id == subCat.CategoryId)
                                    {
                                        <a class="dropdown-item" href="?SelectedSubCategoryId=@subCat.Id">@subCat.SubCatName</a>
                                    }
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-8">
                @if (Model.SelectedSubCategoryId != Guid.Empty)
                {
                    @foreach (var post in Model.Posts)
                    {
                        if (Model.SelectedSubCategoryId == post.SubCatId)
                        {
                            <div class="card">
                                <h5 class="card-header">Post av: </h5>
                                <div class="card-body">
                                    <h5 class="card-title">@post.Title</h5>
                                    <p class="card-text">@post.PostContent</p>
                                    <div class="row">
                                        <a href="#" class="btn btn-dark btn-sm">Till Post</a>
                                        <div class="ml-1">
                                            <small>@post.CreatedAt</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
                else
                {
                    @foreach (var post in Model.Posts)
                    {

                        <div class="card">
                            <h5 class="card-header">Post av: </h5>
                            <div class="card-body">
                                <h5 class="card-title">@post.Title</h5>
                                <p class="card-text">@post.PostContent</p>
                                <div class="row">
                                    <a href="#" class="btn btn-dark btn-sm">Till Post</a>
                                    <div class="ml-1">
                                        <small>@post.CreatedAt</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                }
            </div>
            <div class="col-2">
                @if (Model.SelectedSubCategoryId != Guid.Empty)
                {
                    <form method="post">
                        <input asp-for="NewPost.Title" placeholder="Titel" />
                        <input asp-for="NewPost.PostContent" placeholder="Innehåll" />
                        <input type="hidden" asp-for="NewPost.SubCatId" value="@Model.SelectedSubCategoryId" />
                        <input type="hidden" asp-for="NewPost.CreatedPostById" value="@Model.MyUser.Id" />
                        <input type="submit" class="btn btn-dark btn-sm" value="Skapa ny Post" />
                    </form>
                }
            </div>
        </div>
    </div>
}
else
{
    <h1 class="display-4">Välkommen! Börja med att <a href="Identity/Account/Register">registrera dig!</a> Eller logga in!</h1>
}
